<h2>Let's make memories!</h2>
<br>
<form class="form login-form">
    <div class="form-group">
        <label for="city">Enter your destination:</label>
        <input class="form-input" type="text" id="city" />
    </div>
    <div class="form-group">
        <button id="find-events" class="btn btn-primary">What's going on?</button>
    </div>
</form>

<script src="/js/search.js"></script>