<h2>Let's make memories!</h2>
<br>
<form class="form login-form">
    <div class="form-group">
        <label for="email-login">Enter your destination:</label>
        <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">What's going on?</button>
    </div>
</form>

<script src="/js/search.js"></script>