<h2>First time here? Sign up below:</h2>
<br>
<form id="newuser" class="form signup-form">
    <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button id='signup' class="btn btn-primary">submit</button>
    </div>
</form>

<script src="/js/signup.js"></script>