{{!-- {{#if loggedIn}} --}}
<section class="container">
  {{!-- <h3 class="username">{{user.username}}'s Trips</h3> --}}

  <section class="flex-row justify-center">
    {{#each cities as |city|}}

    <h2 class="city-name">{{ city.name}}</h2>
    <img src="{{cities.image}}" />
    {{/each}}
  </section>
</section>
{{!-- {{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}} --}}