.saved-cities {
    display: flex;
    justify-content: space-around;
}

.saved-each-city {
    width: 600px;
    height: 600px;
    background-color: rgb(21, 165, 167);
    border: 1px solid black;
    margin: 20px;
}
.saved-each-city img {
    object-fit: cover;
}

.saveBtn {
    position: absolute;
    top:200px;
}